# database
DB_TYPE="db type"
DB_FILE="db file name"
DB_USERNAME=""
DB_PASSWORD=""
DB_PORT=""

# logs
LOG_FILE="log file name"

# scripts
PUPPETEER_SCRIPT="puppeteer js file name"

# storage
DATA_PATH="data folder name"
SCRIPTS_PATH="script folder name"