# database
DB_TYPE="sqlite"
DB_NAME="products"
DB_USERNAME=""
DB_PASSWORD=""
DB_PORT=""

# logs
LOG_FILE="log.txt"

# scripts
PUPPETEER_SCRIPT="puppeteer-fetch.js"

# storage
DATA_PATH="data"
SCRIPTS_PATH="scripts"
